dump.rdb
lib-cov
*.log
*.csv
*.out
*.pid
config/database.js
pids
logs
results
node_modules
npm-debug.log
.idea
.idea/*
.DS_Store
log/*.log
compoundjs-exam.iml
.c9revisions
coverage.html
.settings
doc

