<div class="page-header"><h1>upload#index</h1></div>

<h3>File List</h3>
<ul>
	<li></li>
</ul>

<hr>

<h3>File Upload</h3>

<% var form = formFor("upload_test", { action: "/api/upload.html", method: "post", enctype: "multipart/form-data" }); %>
<%- form.begin() %>
<input name="file" id="file" type="file" value="" style="width:60px;height:25px" />
<br><br>
<%- form.submit('upload') %>
<%- form.end() %>

<hr>

<h3>HTML5 Uploader</h3>
