<div class="page-header"><h1>upload#index</h1></div>

<h3>File List</h3>
<ul id="filelist">
</ul>

<hr>

<h3>File Upload</h3>

<% var form = formFor("upload_test", { action: "/upload/filesave", method: "post", enctype: "multipart/form-data" }); %>
<%- form.begin() %>
<input name="file" id="file" type="file" value="" style="width:60px;height:25px" />
<br><br>
<%- form.submit('upload') %>
<%- form.end() %>

<hr>

<h3>HTML5 Uploader</h3>

<script type="text/javascript">
	$.ajax({
		type: "GET",
		url: "/upload/filelist.json",
		data: {}
	}).done(function( msg ) {
		console.log(msg);
		var filelist = msg.filelist;
		for(var i=0;i<filelist.length;i++) {
			$("#filelist").append("<li>"+filelist[i]+"</li>");
		}
	});

// authenticity_token: $('meta[name=csrf-token]').attr('content')
</script>
