<%-include ../layouts/header%>
<style>
h1.title {
	font-size:50px;
}

.alert-message .block-message .info {
	background-color: #ddf4fb;
	border-color: #c6edf9;
}

.alert-message {
	color: #404040;
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}
</style>
<div class="container-narrow">
	<div class="masthead">
	<%-include ../layouts/menu%>

	<h3 class="muted">compoundjs-exam</h3>
	</div>
	<hr>

	<section>

	<h3>Example List</h3>
	<ul>
		<li><a href="/example/request/">Request Class</a></li>
		<li><a href="/example/upload/">Ajax File Upload</a></li>
	</ul>


	</section>

	<div class="footer">
	<p>&copy; yuilsang 2013</p>
	</div>
</div>
<%-include ../layouts/footer%>