<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/jquery.class.js"></script>
<script src="/js/lib/jquery.tmpl.js"></script>
<script src="/js/lib/bootstrap.js"></script>
<script src="/js/lib/r.js"></script>
<script src="/js/lib/rails.js"></script>
<script src="/js/lib/jquery.s3slider.js"></script>
<script src="/js/application.js"></script>
</body>
</html>