<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/jquery.class.js"></script>
<script src="/js/lib/jquery.tmpl.js"></script>
<script src="/js/lib/bootstrap.js"></script>
<script src="/js/lib/r.js"></script>
<script src="/js/lib/rails.js"></script>
<script src="/js/lib/jquery.s3slider.js"></script>
<script src="/js/lib/jquery.filedrop.js"></script>

<script src="/js/lib/fileupload/jquery.fileupload.js"></script>
<script src="/js/lib/fileupload/jquery.fileupload-fp.js"></script>
<script src="/js/lib/fileupload/jquery.fileupload-ui.js"></script>
<script src="/js/lib/fileupload/jquery.iframe-transport.js"></script>

<script src="/js/application.js"></script>
<!-- Shim to make HTML5 elements usable in older Internet Explorer versions -->
<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</body>
</html>