<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/lib/cores/jquery.js"></script>
<script src="/js/lib/cores/r.js"></script>
<script src="/js/lib/cores/jquery.class.js"></script>
<script src="/js/lib/cores/bootstrap.js"></script>
<script src="/js/lib/cores/rails.js"></script>

<script src="/js/lib/components/jquery.tmpl.js"></script>
<script src="/js/lib/components/jquery.ui.core.js"></script>
<script src="/js/lib/components/jquery.ui.widget.js"></script>
<script src="/js/lib/components/jquery.s3slider.js"></script>
<script src="/js/lib/components/jquery.filedrop.js"></script>

<script src="/js/application.js"></script>
<!-- Shim to make HTML5 elements usable in older Internet Explorer versions -->
<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</body>
</html>