<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/lib/core/jquery.js"></script>
<script src="/js/lib/core/jquery.class.js"></script>
<script src="/js/lib/core/bootstrap.js"></script>
<script src="/js/lib/core/require.js"></script>
<script src="/js/lib/core/rails.js"></script>

<script src="/js/lib/component/jquery.tmpl.js"></script>
<script src="/js/lib/component/jquery.ui.widget.js"></script>
<script src="/js/lib/component/jquery.s3slider.js"></script>
<script src="/js/lib/component/jquery.filedrop.js"></script>

<script src="/js/application.js"></script>
<!-- Shim to make HTML5 elements usable in older Internet Explorer versions -->
<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</body>
</html>