	<ul class="nav nav-pills pull-right _menu">
	<li class="_home"><a href="/">Home</a></li>
	<!--<li class="_aboute"><a href="/about">About</a></li>-->
	<li class="_sample"><a href="/sample">Sample</a></li>
	<!--<li class="_contact"><a href="#">Contact</a></li>-->
	</ul>
